body {
    /*background-color: #d9d9d9;*/
    background-image: url('./img/background-img-grayscale.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: rgba(255,255,255,0.25);
}

/* for debugging
div {
    border: 1px solid red;
}
*/

.content {
    width: 100%;
    text-align: center;
    margin-top: 8%;
}

.boxbox {
    /* border: 1.5px solid #999999; */
    border-radius: 10px;
    margin: 15px 0px;
    padding: 10px 40px;
    display: inline-block;
    background-color: rgba(255,255,255, 0.85);
    min-width: 400px;
}

.pure-button {
    border-radius: 5px;
    min-width: 350px;
    margin: 3px 0;
}

.buttonbox {
    margin: auto;
    min-width: 280px;
    padding: 5px;
}

.text-mini {
    font-size: 0.6em;
    opacity: 0.4;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {

}

/* Media Queries: Tablet Portrait */
@media screen and (max-width: 768px) {

}