body {
    background-color: #d9d9d9;
}

/*
div {
    border: 1px solid red;
}
*/

.content {
    width: 100%;
    text-align: center;
    margin-top: 8%;
}

.boxbox {
    border: 3px solid #999999;
    border-radius: 20px;
    padding: 10px 40px;
    display: inline-block;
    background-color: white;
}

.pure-button {
    border-radius: 5px;
    min-width: 220px;
}

.buttonbox {
    margin: auto;
    width: 250px;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {

}

/* Media Queries: Tablet Portrait */
@media screen and (max-width: 768px) {

}